.drag-boundary {
  height: 500px;
  width: 100%;
  margin: 20px;
}

$trans: transparent;
$block: #e9f7fb;
$line: #bedcff;
$gridSize: 100px;
$subdivisions: 5;
$lineAlpha: .7;
$sublineAlpha: .5;

.drag-boundary {
  background-color: $block;
  background-image:
          linear-gradient(rgba($line,$sublineAlpha) 1px, $trans 1px), /*sub horiz*/
          linear-gradient($line 1px, $trans 1px), /*main horiz*/
          linear-gradient(90deg, rgba($line,$sublineAlpha) 1px, $trans 1px), /*sub vert*/
          linear-gradient(90deg, rgba($line,$lineAlpha) 1px, $trans 1px), /*main vert*/
          linear-gradient($trans 3px, $block 3px, $block $gridSize - 2, $trans $gridSize - 2), /*nub horiz*/
          linear-gradient(90deg, rgba($line,$lineAlpha) 3px, $trans 3px, $trans $gridSize - 2, rgba($line,$lineAlpha) $gridSize - 2) /*nub vert*/
;
  background-size:
          $gridSize / $subdivisions $gridSize / $subdivisions,
          $gridSize $gridSize,
          $gridSize / $subdivisions $gridSize / $subdivisions,
          $gridSize $gridSize,
          $gridSize $gridSize,
          $gridSize $gridSize;
}
